@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	font-family: 'Smooch Sans', sans-serif;
}

/* styles for slider items licks */

.slider_productos{
	position: relative;
}

.slider_productos .prev_arrow{
	position: absolute;
	z-index: 10;
	top: 50%;
	left: -43px;
	color: #fff;
	width: 32px;
	height: 32px;
	background-color: #b2b2b2;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	display: inline-block;
	cursor: pointer;
}

.slider_productos .next_arrow{
	position: absolute;
	z-index: 11;
	top: 50%;
	right: -24px;
	color: #fff;
	width: 32px;
	height: 32px;
	background-color: #b2b2b2;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	display: inline-block;
	cursor: pointer;
}

.slider_productos .slider_items{}

.slider .slick-dots{
	position: absolute;
	bottom: 35px;
	z-index: 12;
}

.slider .slick-dots li button:before{
	font-size: 0;
	opacity: 1;
	background-color: #d4d4d4;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: none;
}

.slider .slick-dots .slick-active button:before{
	background-color: red;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: none;
}